---
# This kube config is configured during startup to use the service account
# bound to the pod. This service account should be able to access tiller
# deployed in kube-system (a cluster-admin roleRef perhaps).
apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    server: ~~K8S_API_SERVER~~
  name: default
contexts:
- context:
    cluster: default
    user: jenkins
  name: default
current-context: default
preferences: {}
users:
- name: jenkins
  user:
    token: ~~TILLER_SA_TOKEN~~
